*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    color: white;
    background-color: black;
}

.header-container{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
    
}
.grid-container{
    height: calc(100vh - 105px);
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap:wrap ;
    overflow: auto;
    position: relative;
    padding: 0 80px;
}

.arrow{
    font-size: 60px;
    color: grey;
    transition: 2s ease-in;
}

.arrow:hover{
    color: blue;
}

.arrow-left{
    position: absolute;
    top: calc(50% );
    left: 20px;
    transform: translateY(-50%);
}

.arrow-right{
    position: absolute;
    top:calc(50%);
    right: 20px;
    transform: translateY(-50%);
}



.grid-container .guest-card{
    width: 150px ;
    height: 120px;
    width: calc(100% / 5);
    border: 3px solid black;
    background-color: grey;
    transition: 1s ease-in-out;
    position: relative;
}

.guest-card img{
     object-fit: cover;    
     width: 100%;
     height: 100%;
}

.etichetta-img{
    color: white;
    background: #0000006b;
    position: absolute;
    bottom: 0;
}

.etichetta-img::after{
   color: red;
    
}


.grid-container .guest-card:hover{
    border: 3px solid turquoise;
}

.header-container button{
    background-color: rgba(52, 52, 52, 0.904);
    color: white;
    padding: 5px 5px;
    margin: 10px;
    border-radius: 5px;  
}

.footer-container{
    height: 55px;
    border-top: 1px whitesmoke; 
    background-color: rgb(35, 36, 39);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(220, 220, 220);
}

.footer-container .footer-icon{
    text-align: center;
    display: flex;
}
.footer-container .footer-icon .pad{
    padding: 0 12px;
}
.size-icon{
    font-size: 20px;
    
}

.number-p::after{
    content:"28";	
    color: white;
    position: relative;
    right: 35px;
    bottom: 25px;
    font-size: 15px;  
}

/* .icon-pos{
    position: relative;
    top: 10px;
    padding: 0 10px;
} */